In [15]:
# Import Packages
import pandas as pd
import numpy as np

# Locate CSV file
Gaming_Data = "Resources/purchase_data.csv"

# Read file and port into pandas df
vgame_df = pd.read_csv(Gaming_Data)

In [16]:
# Determine Headers
list(vgame_df.columns)

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [17]:
# Player Count
player_count_df = vgame_df['SN'].unique()
len(player_count_df)

pc_df = pd.DataFrame({'Total Players' : [len(player_count_df)]})
pc_df

   Total Players
0            576

In [18]:
## Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
items_count = vgame_df['Item ID'].unique()
print(len(items_count))

avg_price = vgame_df['Price'].mean()
print(avg_price)

total_purchases = vgame_df['Purchase ID'].unique()
print(len(total_purchases))

revenue = vgame_df['Price'].sum()
print(revenue)

179
3.050987179487176
780
2379.77

In [19]:
# Create a summary data frame to hold the results
dict = {'Count of Unique Items' : [len(items_count)], 'Average Price' : [avg_price],
        'Total Purchases' : [len(total_purchases)], 'Total Revenue' : [revenue]}
p_analysis = pd.DataFrame(dict)

# OPTIONAL: Give the displayed data cleaner formatting
# Display the summary data frame
p_analysis.style.format({'Average Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})

In [20]:
## Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

vgame2_df = vgame_df.drop_duplicates(['SN'])

gender_count = vgame2_df.groupby('Gender').count()

dg_pd = pd.DataFrame(gender_count)
dg_pd = dg_pd.drop(["Purchase ID", "SN", "Age", "Item ID"], axis=1)
dg_pd = dg_pd.rename(columns={"Item Name": "Count", "Price": "Percentage"})
dg_pd["Percentage"] = dg_pd["Count"].div(len(player_count_df))
dg_pd["Percentage"] = dg_pd["Percentage"].apply('{:.2%}'.format)

gd_df = pd.DataFrame(dg_pd)
gd_df

                       Count Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%

In [21]:
## Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gen1 = vgame_df.drop(["Purchase ID", "SN", "Age", "Item ID", "Item Name"], axis=1)

pur_count = gen1.groupby("Gender").count()
pur_count = pur_count.rename(columns={"Price": "Purchase Count"})

tot_rev = gen1.groupby("Gender").sum()
tot_rev = tot_rev.rename(columns={"Price": "Total Purchase Value"})

avg_price = gen1.groupby("Gender").mean()
avg_price = avg_price.rename(columns={"Price": "Avg. Purchase Price"})

pur_count = pd.DataFrame(pur_count)
tot_rev = pd.DataFrame(tot_rev)
avg_price = pd.DataFrame(avg_price)

# Create a summary data frame to hold the results
gen_a = pd.concat([pur_count, avg_price], axis=1)
gender = pd.concat([gen_a, tot_rev], axis=1)
gender["Avg. Total Purchase per Person"] = gender["Total Purchase Value"]/dg_pd["Count"]

# OPTIONAL: Give the displayed data cleaner formatting
gender["Avg. Purchase Price"] = gender["Avg. Purchase Price"].apply('${:,.2f}'.format)
gender["Total Purchase Value"] = gender["Total Purchase Value"].apply('${:,.2f}'.format)
gender["Avg. Total Purchase per Person"] = gender["Avg. Total Purchase per Person"].apply('${:,.2f}'.format)

# Display the summary data frame
gender

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
## Age Demographics
# Establish bins for ages
ad = vgame2_df.drop(["Purchase ID",  "SN", "Gender", "Item ID", "Item Name", "Price"], axis=1)
ad = pd.DataFrame(ad)

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
ad["Age Bins"] = pd.cut(ad["Age"], bins, labels=age_labels)

# Calculate the numbers and percentages by age group
ad_group = ad.groupby("Age Bins")

age_demo = pd.DataFrame(ad_group["Age Bins"].count())

age_demo = age_demo.rename(columns={"Age Bins": "Total Count"})

age_demo["Percentage of Players"] = (age_demo["Total Count"]/(len(ad)))

# Create a summary data frame to hold the results
# OPTIONAL: Round the percentage column to two decimal points
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].apply('{:.2%}'.format)

# Display Age Demographics Table
age_demo

          Total Count Percentage of Players
Age Bins
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

In [23]:
## Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
age_pa = pd.DataFrame(vgame_df)

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#age_pa = age_pa.drop(["Purchase ID", "SN", "Gender", "Item ID", "Item Name"], axis=1)

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_pa["Age Bins"] = pd.cut(age_pa["Age"], bins, labels=age_labels)

age_group = age_pa.groupby("Age Bins")

age_count = pd.DataFrame(age_group["Age Bins"].count())

age_sum = age_count.rename(columns={"Age Bins": "Purchase Count"}, index={"Age Bins": "Age Ranges"})

age_sum["Total Purchase Value"] = age_pa.groupby("Age Bins")["Price"].sum()
age_sum["Avg Total Purchase per Person"] = ((age_sum["Total Purchase Value"])/(age_demo["Total Count"]))
age_sum["Average Purchase Price"] = ((age_sum["Total Purchase Value"])/(age_sum["Purchase Count"]))

# Create a summary data frame to hold the results
# OPTIONAL: give the displayed data cleaner formatting
age_sum = age_sum[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
age_sum["Average Purchase Price"] = age_sum["Average Purchase Price"].apply('${:,.2f}'.format)
age_sum["Total Purchase Value"] = age_sum["Total Purchase Value"].apply('${:,.2f}'.format)
age_sum["Avg Total Purchase per Person"] = age_sum["Avg Total Purchase per Person"].apply('${:,.2f}'.format)

# Display the summary data frame
age_sum

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [24]:
## Top Spenders
# Run basic calculations to obtain the results in the table below
baller = pd.DataFrame(vgame_df)

spenders = baller.drop(["Purchase ID", "Age", "Gender", "Age Bins"], axis=1)

big_spend = spenders.groupby(["SN"], as_index=False)["Price"].sum()
big_spend.set_index("SN", inplace=True)

screen_name = spenders["SN"].value_counts()

count = pd.concat([screen_name, big_spend], axis=1)
count["Average Purchase Price"] = (count["Price"])/(count["SN"])

# Create a summary data frame to hold the results
count_sum = count.rename(columns={"SN": "Purchase Count", "Price": "Total Purchase Value"})
count_sum = count_sum[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Sort the total purchase value column in descending order
count_sum = count_sum.sort_values(by=["Total Purchase Value"], ascending=False)

# OPTIONAL: Give the displayed data cleaner formatting
count_sum["Total Purchase Value"] = count_sum["Total Purchase Value"].apply('${:,.2f}'.format)
count_sum["Average Purchase Price"] = count_sum["Average Purchase Price"].apply('${:,.2f}'.format)

# Display a preview of the summary data frame
count_sum.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [27]:
## Most Popular Items
# Retrieve the Item ID, Item Name, and Item Price columns
p_items = pd.DataFrame(vgame_df)
p_items = p_items.drop(["Purchase ID", "SN", "Age", "Gender", "Age Bins"], axis=1)

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
pop_count = p_items.groupby("Item ID")["Price"].count()

price = pd.DataFrame(p_items)
price = price.drop_duplicates(subset="Item Name", keep="first")
price = price.sort_values("Item ID", ascending=True)

pop_sum = (pop_count * (price["Price"]))

# Create a summary data frame to hold the results
price["Purchase Count"] = pop_count
price["Total Purchase Value"] = pop_sum
price = price.set_index(["Item ID", "Item Name"])
price = price [["Purchase Count", "Price", "Total Purchase Value"]]
price = price.dropna()
price["Purchase Count"] = price["Purchase Count"].astype(int)

pop_sum = pd.DataFrame(price)

# Sort the purchase count column in descending order
#pop_sum = pop_sum.sort_values(by="Purchase Count", ascending=False)

# OPTIONAL: Give the displayed data cleaner formatting

#price["Purchase Count"] = price["Purchase Count"].astype(int)
#price["Total Purchase Value"] = price["Total Purchase Value"].apply('${:,.2f}'.format)
#price["Price"] = price["Price"].apply('${:,.2f}'.format)

# Display a preview of the summary data frame
print(pop_sum)

                                                      Purchase Count  Price  \
Item ID Item Name
0       Splinter                                                   5   1.28
1       Crucifer                                                   4   3.26
2       Verdict                                                    1   2.48
3       Phantomlight                                               5   2.49
4       Bloodlord's Fetish                                         4   1.70
...                                                              ...    ...
176     Relentless Iron Skewer                                     7   2.84
178     Oathbreaker, Last Hope of the Breaking Storm               6   4.23
179     Wolf, Promise of the Moonwalker                            2   4.48
181     Reaper's Toll                                              4   1.66
183     Dragon's Greatsword                                        4   1.09

                                                      Total Purchase Value
Item ID Item Name
0       Splinter                                                      6.40
1       Crucifer                                                     13.04
2       Verdict                                                       2.48
3       Phantomlight                                                 12.45
4       Bloodlord's Fetish                                            6.80
...                                                                    ...
176     Relentless Iron Skewer                                       19.88
178     Oathbreaker, Last Hope of the Breaking Storm                 25.38
179     Wolf, Promise of the Moonwalker                               8.96
181     Reaper's Toll                                                 6.64
183     Dragon's Greatsword                                           4.36

[113 rows x 3 columns]

Purchase Count            int32
Price                   float64
Total Purchase Value    float64
dtype: object

In [29]:
## Most Profitable Items
# Sort the above table by total purchase value in descending order
profit = pop_sum.sort_values("Total Purchase Value", ascending=False)
# OPTIONAL: give the displayed data cleaner formatting
# Display a preview of the data frame
profit

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",13,3.94,51.22
145,Fiery Glass Crusader,9,4.58,41.22
89,"Blazefury, Protector of Delusions",8,4.64,37.12
160,Azurewrath,8,4.40,35.20
139,"Mercy, Katana of Dismay",7,4.94,34.58
...,...,...,...,...
13,Serenity,2,1.41,2.82
135,Warped Diamond Crusader,2,1.40,2.80
2,Verdict,1,2.48,2.48
75,Brutality Ivory Warmace,1,2.42,2.42
125,Whistling Mithril Warblade,2,1.00,2.00